<div>
   <!-- <h2 id="page-heading">
        <span>Prescriptions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-prescription" [routerLink]="['/prescription/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" >
            Create new Prescription
            </span>
        </button>
    </h2>-->
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="prescriptions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Phonenumber</span></th>
            <th><span>Patient Name</span></th>
            <th><span>Doctor Name</span></th>
            <th><span>Right Vision</span></th>
            <th><span>Left Vision</span></th>
            <th><span>Power Details</span></th>
            <th><span>Continous Wear</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let prescription of prescriptions ;trackBy: trackId">
                <td><a [routerLink]="['/prescription', prescription.id, 'view' ]">{{prescription.id}}</a></td>
                <td>{{prescription.phonenumber}}</td>
                <td>{{prescription.patientName}}</td>
                <td>{{prescription.doctorName}}</td>
                <td>{{prescription.rightVision}}</td>
                <td>{{prescription.leftVision}}</td>
                <td>{{prescription.powerDetails}}</td>
                <td>{{prescription.continousWear}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/prescription', prescription.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/prescription', prescription.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'prescription/'+ prescription.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
